<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    {% if app.user.hasRole("ROLE_SUPER_ADMIN") %}
                    <li class="site-menu-category">Admin</li>
                    <li class="site-menu-item active">
                        <a class="animsition-link" href="{{ path('pays_index') }}">
                            <i class="site-menu-icon icon md-format-list-bulleted" aria-hidden="true"></i>
                            <span class="site-menu-title">Gestion Des Filiales</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="{{ path('user_index') }}">
                            <i class="site-menu-icon icon md-accounts-alt" aria-hidden="true"></i>
                            <span class="site-menu-title">Gestion Des Managers</span>
                        </a>
                    </li>
                   {% endif %}
                    {% if app.user.hasRole("ROLE_GESTIONNAIRE") %}
                        <li class="site-menu-category">Gestionnaire</li>
                        <li class="site-menu-item active">
                            <a class="animsition-link" href="{{ path('dashboard_index') }}">
                                <i class="site-menu-icon icon md-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('station_index') }}">
                                <i class="site-menu-icon icon md-pin" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestion Des Stations</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('gerant_index') }}">
                                <i class="site-menu-icon icon md-account" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestion Des Gérants</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('categorie_index') }}">
                                <i class="site-menu-icon icon md-format-list-bulleted" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestion Des Categories</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('sous_categorie_index') }}">
                                <i class="site-menu-icon icon md-view-list" aria-hidden="true"></i>
                                <span class="site-menu-title">Gestion Des Sous Categories</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('produit_index') }}">
                                <i class="site-menu-icon icon md-card" aria-hidden="true"></i>
                                <span class="site-menu-title">Validation Des Produits</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('commande_index') }}">
                                <i class="site-menu-icon icon md-money" aria-hidden="true"></i>
                                <span class="site-menu-title">Liste Des Commandes</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('client_index') }}">
                                <i class="site-menu-icon icon md-accounts-alt" aria-hidden="true"></i>
                                <span class="site-menu-title">Liste Des Clients</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user.hasRole("ROLE_GERANT") %}
                        <li class="site-menu-category">Gérant</li>
                        <li class="site-menu-item active">
                            <a class="animsition-link" href="{{ path('dashboard_gerant_index') }}">
                                <i class="site-menu-icon icon md-chart" aria-hidden="true"></i>
                                <span class="site-menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('produit_gerant_index') }}">
                                <i class="site-menu-icon icon md-card" aria-hidden="true"></i>
                                <span class="site-menu-title">Validation Des Produits</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('commande_gerant_index') }}">
                                <i class="site-menu-icon icon md-money" aria-hidden="true"></i>
                                <span class="site-menu-title">Liste Des Commandes</span>
                            </a>
                        </li>
                        <li class="site-menu-item has-sub">
                            <a href="{{ path('client_gerant_index') }}">
                                <i class="site-menu-icon icon md-accounts-alt" aria-hidden="true"></i>
                                <span class="site-menu-title">Liste Des Clients</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
        </div>
    </div>

</div>
</div>