<div class="catTopBar clearfix">
    <div class="catTopBarInner clearfix">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="f-left hidden-xs">
                <h4 class="filterToggle"><i class="fa fa-bars"></i> <strong>Filtre</strong>
                </h4>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="f-right">
                <div class="w100  clearfix center-xs-inner">
                    <p class="pull-right shrtByP center-xs"><span>Trier par :</span>
                        <a href="{{ path("list_produit",{"sort":1,"categorie_id":app.request.query.get('categorie_id'),"min_price":app.request.query.get('min_price'), "max_price":app.request.query.get('max_price')}) }}"
                                {% if app.request.query.get("sort") == 1 %} class="active" {% endif %}>NOUVEAU</a> |
                        <a href="{{ path("list_produit",{"sort":2,"categorie_id":app.request.query.get('categorie_id'),"min_price":app.request.query.get('min_price'), "max_price":app.request.query.get('max_price')}) }}"
                                {% if app.request.query.get("sort") == 2 %} class="active" {% endif %}>POPULAIRE</a>|
                        <a href="{{ path("list_produit",{"sort":3,"categorie_id":app.request.query.get('categorie_id'),"min_price":app.request.query.get('min_price'), "max_price":app.request.query.get('max_price')}) }}"
                                {% if app.request.query.get("sort") == 3 %} class="active" {% endif %}>PRIX</a></p>

                    <!--<div class="pull-right hidden-xs">
                        <p class="pull-right change-view-flat"><span>AFFICHER PAR :</span> <a href="#"
                                                                                         title="Grid"
                                                                                         class="grid-view">
                                <i class="fa fa-th-large"></i> </a> | <a href="#" title="List"
                                                                         class="list-view "><i
                                        class="fa fa-th-list"></i></a></p>


                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>