<script>
    $(document).ready(function(){
        var route = $('#cp').val();
        if (route != null){
            if (route == "homepage_frontend") {
                $('#homepage').addClass("active");
                $('#homepage_link').css('color','white')
            } else if(route == "list_produit"){
                $('#prods').addClass("active");
                $('#prods_link').css('color','white')
            }else if (route == "contact_us"){
                $('#contact').addClass("active");
                $('#contact_link').css('color','white');
            }


        }
    });
</script>
<div class="navbar navbar-tshop navbar-fixed-top megamenu my_nav_bar" role="navigation">
    <!--navbar-top-->
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ path('homepage_frontend') }}"><img src="{{ asset('bundles/frontend/img/logo_total.jpg') }}" alt="logo total"></a>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 no-padding">
                    <div class="pull-right">

                        {% if not app.user %}
                        <ul class="userMenu">

                            <li>
                                <a href="{{ path('fos_user_security_login') }}"> 
                                    <span class="hidden-xs">Se Connecter</span>
                                    <i class="glyphicon glyphicon-log-in hide visible-xs "></i> 
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="{{ path('fos_user_registration_register') }}"> Crée nouveau compte </a>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="userMenu">
                            <li><a href="{{ path("compte") }}"><span class="hidden-xs"> Mon compte</span> <i class="glyphicon glyphicon-user hide visible-xs "></i></a></li>
                            <li class="dropdown hasUserMenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i class="glyphicon glyphicon-log-in hide visible-xs "></i> Bonjour {{ app.user.firstName }} <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path("fos_user_profile_edit") }}"> <i class="fa fa-user"></i> Editer mes informations</a></li>
                                    <li><a href="{{ path("fos_user_change_password") }}"><i class="fa fa fa-cog"></i> Changer mot de passe</a></li>
                                    <li><a href="{{ path("profile_adresse") }}"><i class="fa fa-map-marker"></i> Mes adresses</a></li>
                                    <li><a href="{{  path("facture") }}"><i class="fa  fa-calendar"></i> Mes Commandes</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path("logout_user") }}"><i class="fa  fa-sign-out"></i> Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.navbar-top-->

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span
                        class="icon-bar"> </span> <span class="icon-bar"> </span></button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"><i
                        class="fa fa-shopping-cart colorWhite"> </i> <span
                        class="cartRespons colorWhite">{{ panier|length }}
                    Article{% if panier|length != 1 %}s{% endif %} | 400 DT </span></button>
        </div>

        <!-- this part is duplicate from cartMenu  keep it for mobile -->
        <div class="navbar-cart  collapse">
            <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
                <div class="w100 miniCartTable scroll-pane">
                    <table>
                        <tbody>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        <tr class="miniCartProduct">
                            <td style="width:20%" class="miniCartProductThumb">
                                <div><a href="product-details.html"> <img src="" alt="img"> </a>
                                </div>
                            </td>
                            <td style="width:40%">
                                <div class="miniCartDescription">
                                    <h4><a href="product-details.html"> TSHOP T shirt Black </a></h4>
                                    <span class="size"> 12 x 1.5 L </span>

                                    <div class="price"><span> $8.80 </span></div>
                                </div>
                            </td>
                            <td style="width:10%" class="miniCartQuantity"><a> X 1 </a></td>
                            <td style="width:15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                            <td style="width:5%" class="delete"><a> x </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--/.miniCartTable-->

                <div class="miniCartFooter  miniCartFooterInMobile text-right">
                    <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                    <a class="btn btn-sm btn-danger" href="cart.html"> <i class="fa fa-shopping-cart"> </i> VIEW CART
                    </a> <a href="checkout-0.html"
                            class="btn btn-sm btn-primary"> CHECKOUT </a></div>
                <!--/.miniCartFooter-->

            </div>
            <!--/.cartMenu-->
        </div>
        <!--/.navbar-cart-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li id="homepage"><a id="homepage_link" href="{{ path('homepage_frontend') }}"> Accueil </a></li>
                <li id="prods"><a id="prods_link" href="{{ path('list_produit') }}"> LUBRIFIANTS </a></li>
               <li id="contact"><a id="contact_link" href="{{  path("contact_us") }}"> CONTACT </a></li>
               <!--<li id="contact"><a id="contact_link" href="#"> CONTACT </a></li>-->
            </ul>
            </ul>

            <!--- this part will be hidden for mobile version -->
            <div class="nav navbar-nav navbar-right hidden-xs">

                <div class="dropdown  cartMenu ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       onclick="goToURL('{{ path("panier") }}')">
                        <i class="fa fa-shopping-cart"> </i>
                            <span class="cartRespons">
                                <span class="nb-article">{{ panier|length }}</span>
                                Article{% if panier|length != 1 %}s{% endif %}
                                | <span class="total_price_cart_empty">0</span> DT TTC
                            </span> <b class="caret"> </b>
                    </a>

                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        <div class="w100 miniCartTable scroll-pane">
                            <table >
                                <tbody>
                                {% set total_price = 0 %}
                                {% for article in articles %}
                                    {% set nb_article = panier[article.id] %}
                                    <tr class="miniCartProduct product-{{ article.id }}">
                                        <td style="width:20%" class="miniCartProductThumb">
                                            <div><a href="{{ path('show_produit',{"id":article.id}) }}"> <img class="lazy"
                                                                                      src="/assets/img/default.jpeg"
                                                                                      data-original="/uploads/produits/{{ article.image }}"
                                                                                      alt="{{ article.nom }}">
                                                </a></div>
                                        </td>
                                        <td style="width:40%">
                                            <div class="miniCartDescription">
                                                <h4><a href="{{ path('show_produit',{"id":article.id}) }}" >{{ article.nom }} </a></h4>
                                                <div class="price"><span > {{ article.prix|number_format(3, '.', ',') }} DT <TTC></TTC></span></div>
                                            </div>
                                        </td>
                                        <td style="width:10%" class="miniCartQuantity"><a > X {{ nb_article }} </a>
                                        </td>
                                        <td style="width:15%" class="miniCartSubtotal">
                                            <span > {{ (nb_article * article.prix)|number_format(3, '.', ',') }} DT </span></td>
                                            {% set total_price = total_price + nb_article * article.prix %}
                                        <td style="width:5%" class="delete"
                                            onclick="deleteArticle({{ article.id }},{{ nb_article * article.prix }} )">
                                            <a > x </a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!--/.miniCartTable-->

                        <div class="miniCartFooter text-right">
                            <h3 class="text-right subtotal" >Total: <span
                                        class="total_price_cart" >{{ total_price|number_format(3, '.', ',') }}</span> DT TTC</h3>
                            <a class="btn btn-sm btn-danger" href="{{ path("panier") }}"> <i class="fa fa-shopping-cart"> </i>
                                Voir panier </a><a class="btn btn-sm btn-primary"   {% if panier|length > 0 %}href="{{ path("livraison") }}"{% else %}href="{{ path("panier") }}"{% endif %}> CHECKOUT </a></div>
                        <!--/.miniCartFooter-->

                    </div>
                    <!--/.dropdown-menu-->
                </div>

                <!--/.cartMenu-->


            </div>
            <!--/.navbar-nav hidden-xs-->
        </div>
        <!--/.nav-collapse -->

    </div>
    <!--/.container -->



</div>
