{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
	<div class="page">


		<div class="page-header">
			<h1 class="page-title">Liste Des Commandes</h1>

			<div class="page-header-actions">
				<div class="row">
					<div class="col-lg-12">
						<div class="media-body text-center">
							<h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ commandes|length }}</h4>
							<small style="">Commandes</small>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
			<!-- Panel -->
			<div class="panel" >
				<div class="panel-body container-fluid" style="padding: 0 !important;">
					<div class="row row-lg">


						<div class="col-lg-12">
							<!-- Example Bordered Table -->
							<table class="table table-bordered" style="border: none;">
								<thead>
								<tr>
									<th style="border: none;">Filtre</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td style="border: none;">
										<form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('commande_index') }}" method="get">
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Réference Produit </label>
												<input type="text" class="form-control" name="reference" value="{% if reference is defined %}{{reference}}{% endif %}" placeholder="reference">
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Client </label>
												<input type="text" class="form-control" name="client" value="{% if client is defined %}{{client}}{% endif %}" placeholder="nom client">
											</div>
											<div class="col-lg-3  col-md-3 col-xs-3">
												<label class="control-label">Statut</label>
												<select class="form-control" name="statut">
													<option class="btn btn-block btn-default waves-effect waves-classic" value="" disabled selected>choisir un statut</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="0" {% if statut is defined and statut == '0' %} selected {% endif %}>En cours de validation</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="2" {% if statut is defined and statut == '2' %} selected {% endif %}>Valider</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="3" {% if statut is defined and statut == '3' %} selected {% endif %}>Modifier</option>
													<option class="btn btn-block btn-default waves-effect waves-classic" value="4" {% if statut is defined and statut == '4' %} selected {% endif %}>Annuler</option>

												</select>
											</div>
											<div  class="col-lg-3  col-md-3 col-xs-3 text-right">
												<button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
													<i class="icon icon md-search" aria-hidden="true"></i></button>

												<a href="{{ path('ExportCommande') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
													<i class="icon md-download" aria-hidden="true"></i> exporter</a>
											</div>
										</form>

									</td>
								</tr>
								</tbody>
							</table>

							<!-- End Example Bordered Table -->
						</div>

					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>
		<div class="page-content" style="padding-top: 0px " >
			<!-- Panel -->
			<div class="panel">
				<div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
					<div class="row row-lg">


						<div class="col-lg-12">
							<!-- Example Bordered Table -->

							<table class="table table-striped">
								<thead>
								<tr class="">
									<th style="padding-left: 20px;width: 20%">Réference </th>
									<th style="width: 20%">Client</th>
									<th style="width: 10%">Nombre Produits</th>
									<th style="width: 10%">Statut</th>
									<th style="width: 20%">Date Reservation</th>
									<th class="text-right text-nowrap" style="padding-right:42px;width: 20%">Action</th>

								</thead>
								<tbody>

								{% for c in commandes %}
									<tr >
										<td  style="padding-left: 20px; " style="width: 100px;">{{ c.0.commande.reference }}
										</td>
										<td>
											<div class="media-body">
												<h5 class="mt-0 mb-5">{{ c.0.commande.utilisateur.firstName }} {{ c.0.commande.utilisateur.lastName }}</h5>
												<small>{{ c.0.commande.utilisateur.tel }}</small>
											</div>

										</td>
										<td>
											{{ c.nbproduit }}
										</td>
										<td>
											{% if  c.0.commande.status == -1 %}
												<span class="badge badge-secondary">Non Validée</span>
											{% endif %}
											{% if  c.0.commande.status == 0 %}
												<span class="badge badge-secondary">En cours de validation</span>
											{% endif %}
											{% if  c.0.commande.status == 1 %}
												<span class="badge badge-warning">En cours de livraison</span>
											{% endif %}
											{% if  c.0.commande.status == 2 %}
												<span class="badge badge-success">Valider</span>
											{% endif %}
											{% if  c.0.commande.status == 3 %}
												<span class="badge badge-info">Modifier</span>
											{% endif %}
											{% if  c.0.commande.status == 4 %}
												<span class="badge badge-danger">Annuler</span>
											{% endif %}

										</td>
										<td >
											{{ c.0.commande.dateReservation|date("d/m/Y") }}
										</td>
										<td class="text-right" style="padding-right:20px;">

											<a class="btn btn-pure btn-default icon  md-details waves-effect waves-classic" href="{{ path('commande_show', { 'id': c.0.commande.id }) }}">
												<i class="icon md-plus" aria-hidden="true"></i>
											</a>

											<div class="btn-group">
												<a href="" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"id="exampleHoverDropdown1" data-hover="dropdown" data-delay="1000" data-toggle="dropdown" aria-expanded="false"></a>

												<div class="dropdown-menu" aria-labelledby="exampleHoverDropdown1" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
													<a href="{{ path('commnde_edit', { 'id': c.0.commande.id,'statut' :0 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">En cours de validation
															</font>
														</font>
													</a>
													<a href="{{ path('commnde_edit', { 'id': c.0.commande.id,'statut' :2 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Valider</font>
														</font>
													</a>
													<a href="{{ path('commnde_edit', { 'id': c.0.commande.id,'statut' :3 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Modifier</font>
														</font>
													</a>
													<a href="{{ path('commnde_edit', { 'id': c.0.commande.id,'statut' :4 }) }}" class="dropdown-item" href="javascript:void(0)" role="menuitem">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">Annuler</font>
														</font>
													</a>
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
							<div class="navigation">
								{{ knp_pagination_render(commandes) }}
							</div>

							<!-- End Example Bordered Table -->
						</div>

					</div>
				</div>
			</div>
			<!-- End Panel -->
		</div>

		</div>
{% endblock %}