{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Gestion Des Stations</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ stations|length }}</h4>
                            <small style="">Stations </small>
                        </div>
                    </div>
                        <div class="col-lg-6 ">
                            <a href="{{ path('station_new') }}" style="margin-top: 3px;" class="float-right btn btn-sm btn-icon social-evernote waves-effect waves-classic">
                                <i class="icon md-plus" aria-hidden="true"></i> Ajouter
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                                    <table class="table table-bordered" style="border: none;">
                                        <thead>
                                        <tr>
                                            <th style="border: none;">Filtre</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="border: none;">
                                                <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('station_index') }}" method="get">
                                                    <div class="col-lg-4  col-md-4 col-xs-4">
                                                        <label class="control-label">Station</label>
                                                        <input type="text" class="form-control" name="search" value="{% if search is defined %}{{search}}{% endif %}" placeholder="rechercher station">

                                                    </div>
                                                    <div  class="col-lg-8  col-md-8 col-xs-8 text-right">
                                                        <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
                                                            <i class="icon icon md-search" aria-hidden="true"></i></button>

                                                        <a href="{{ path('ExportStation') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                            <i class="icon md-download" aria-hidden="true"></i> exporter</a>
                                                    </div>
                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="">
                                            <th style="padding-left: 20px;width: 35%">Station</th>
                                            <th style="width: 35%">Zone</th>
                                            <th class="text-right" style="padding-right:42px;width: 30%" class="text-nowrap">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for s in stations %}



                                            <tr class="">
                                                <td style="padding-left: 20px;  vertical-align: middle;">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-5">{{ s.nom }} </h5>
                                                        <small>{{ s.adresse}} </small>
                                                    </div>
                                                </td>
                                                <td style="    vertical-align: middle;">
                                                       {{ s.zone}}
                                                </td>
                                                <td class="text-right" style="padding-right:20px; vertical-align: middle;">
                                                    <a href="{{ path('station_disable',{'id':s.id}) }}" class="btn btn-pure btn-default  md-delete waves-effect waves-classic"></a>
                                                    <a href="{{ path('station_edit', {'id': s.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <div class="navigation">
                                        {{ knp_pagination_render(stations) }}
                                    </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
{% endblock %}