{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">
        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <div class="example-wrap">
                                <div class="row row-lg">

                                    <div class="col-lg-6">
                                        <h4 class="example-title">Gestion Des Utilisateurs </h4>
                                    </div>
                                    <div class="col-lg-6" >
                                        <a href="{{ path('user_new') }}" class="float-right btn btn-icon social-evernote waves-effect waves-classic"><i class="icon md-plus" aria-hidden="true"></i> Ajouter</a>
                                    </div>
                                    <br>
                                </div>
                                <br>
                                <div class="example table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Filtre</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <form class="row" style="align-items: center;max-width: 1520px;" action="{{ path('user_index') }}" method="get">
                                                        <div class="col-lg-6  col-md-6 col-xs-6">
                                                            <input type="text" class="form-control" name="email" value="{% if email is defined %}{{email}}{% endif %}" placeholder="email">

                                                        </div>
                                                        <div class="col-lg-6  col-md-5 col-xs-5">
                                                            <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic"><i class="icon icon md-search" aria-hidden="true"></i></button>                                    </div>
                                                    <br><br>
                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="example table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr class="text-center">
                                            <th style="width: 20%">Email</th>
                                            <th style="width: 20%">Roles</th>
                                            <th style="width: 20%">Pays</th>
                                            <th style="width: 20%">Statut</th>
                                            <th class="text-nowrap" style="width: 20%">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for u in users %}


                                            <tr class="text-center">
                                                <td >
                                                    {{ u.email }}
                                                </td>
                                                <td >
                                                    {% for role in u.roles %}
                                                        {% if role != "ROLE_USER" %}
                                                           {% if role == "ROLE_GESTIONNAIRE" %}
                                                              <span class="badge mb-5 mr-5 badge-warning"> Gestionnaire</span>
                                                           {% elseif role == 'ROLE_SUPER_ADMIN' %}
                                                               <span class="badge mb-5 mr-5 badge-info">Administrateur</span>
                                                           {% elseif role == 'ROLE_ACTIVATOR' %}
                                                               <span class="badge mb-5 mr-5 badge-danger">Activateur de photo</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if u.pays %}
                                                    <span class="flag-icon flag-icon-{{u.pays.code}}" style="margin-right: 8px;"></span>{{ u.pays.nom }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if u.enabled == false %}
                                                        <i class="md-close text-danger" style="font-size: 25px;"></i>
                                                    {% else %}
                                                        <i class="md-check text-success" style="font-size: 25px;"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{{ path('utilisateurs_disable',{'id':u.id}) }}" class="btn btn-pure btn-default  md-delete waves-effect waves-classic"></a>
                                                    <a href="{{ path('user_edit',{'id':u.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
{% endblock %}
