{% extends '@Backend/layout/layout.html.twig' %}


{% block page %}
    <div class="page">


        <div class="page-header">
            <h1 class="page-title">Validation Des Produits</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ produits|length }}</h4>
                            <small style="">Produits</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr>
                                    <th style="border: none;">Filtre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('produit_index') }}" method="get">
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Produit</label>
                                                <input type="text" class="form-control" name="search" value="{% if search is defined %}{{search}}{% endif %}" placeholder="rechercher produit">
                                            </div>
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Catégorie</label>
                                                <select class="form-control" name="categorie" placeholder="choisir une catégorie">
                                                    <option value="" disabled selected hidden>choisir une catégorie</option>
                                                    {% if categorie == '' %}
                                                        <option class="dropdown-item" value="" role="menuitem" selected>
                                                            Toutes les categories
                                                        </option>
                                                    {% else %}
                                                        <option class="dropdown-item" value="" role="menuitem" >
                                                            Toutes les categories
                                                        </option>
                                                    {% endif %}

                                                    {% for c in categories %}
                                                        {% if categorie is defined   %}
                                                            {% if categorie == c.id %}
                                                                <option class="dropdown-item" value="{{ c.id }}" role="menuitem" selected>
                                                                    {{ c.nom }}
                                                                </option>
                                                            {% else %}
                                                                <option class="dropdown-item" value="{{ c.id }}" role="menuitem">
                                                                    {{ c.nom }}
                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option class="dropdown-item" value="{{ c.id }}" role="menuitem">
                                                                {{ c.nom }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Sous Catégorie</label>
                                                <select class="form-control" name="souscategorie" placeholder="choisir une catégorie">
                                                    <option value="" disabled selected hidden>choisir une sous catégorie</option>
                                                    {% if souscategorie== '' %}
                                                        <option class="dropdown-item" value="" role="menuitem" selected>
                                                            Toutes les sous categories
                                                        </option>
                                                    {% else %}
                                                        <option class="dropdown-item" value="" role="menuitem" >
                                                            Toutes les sous categories
                                                        </option>
                                                    {% endif %}

                                                    {% for sc in souscategories %}
                                                        {% if souscategorie is defined   %}
                                                            {% if souscategorie == sc.id %}
                                                                <option class="dropdown-item" value="{{ sc.id }}" role="menuitem" selected>
                                                                    {{ sc.nom }}
                                                                </option>
                                                            {% else %}
                                                                <option class="dropdown-item" value="{{ sc.id }}" role="menuitem">
                                                                    {{ sc.nom }}
                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option class="dropdown-item" value="{{ sc.id }}" role="menuitem">
                                                                {{ sc.nom }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div style="padding-top: 10px" class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Station</label>
                                                <select class="form-control" name="station" placeholder="choisir une station">
                                                    <option value="" disabled selected hidden>choisir une station</option>
                                                    {% if station == '' %}
                                                        <option class="dropdown-item" value="" role="menuitem" selected>
                                                            Toutes les stations
                                                        </option>
                                                    {% else %}
                                                        <option class="dropdown-item" value="" role="menuitem" >
                                                            Toutes les stations
                                                        </option>
                                                    {% endif %}

                                                    {% for s in stations %}
                                                        {% if station is defined   %}
                                                            {% if station == s.id %}
                                                                <option class="dropdown-item" value="{{ s.id }}" role="menuitem" selected>
                                                                    {{ s.nom }}
                                                                </option>
                                                            {% else %}
                                                                <option class="dropdown-item" value="{{ s.id }}" role="menuitem">
                                                                    {{ s.nom }}
                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option class="dropdown-item" value="{{ s.id }}" role="menuitem">
                                                                {{ s.nom }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div style="padding-top: 10px"  class="col-lg-8  col-md-8 col-xs-8 text-right">
                                                <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon icon md-search" aria-hidden="true"></i>
                                                </button>
                                                <a href="{{ path('ExportProduit') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                    <i class="icon md-download" aria-hidden="true"></i> exporter</a>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                            <table class="table table-striped">
                                <thead>
                                <tr >
                                    <th style="padding-left: 20px;width: 10%" >Code Produit</th>
                                    <th style="width: 10%">Nom</th>
                                    <th style="width: 10%">Catégorie</th>
                                    <th style="width: 10%">Sous Catégorie</th>
                                    <th style="width: 10%">Station</th>
                                    <th style="width: 10%">Prix</th>
                                    <th style="width: 10%">Quantité</th>
                                    <th style="width: 10%">Est Active?</th>
                                    <th style="width: 10%">Est Disponible?</th>

                                    <th class="text-right text-nowrap" style="padding-right:42px;width: 10%"class="text-nowrap">Action</th>
                                </tr>
                                </thead>
                                <tbody>



                                {% for produit in produits %}



                                    <tr >
                                        <td style="padding-left: 20px; vertical-align: middle;" >
                                            {{ produit.code}}
                                        </td>
                                      <!--  <td style="    vertical-align: middle;">
                                            {% if produit.image %}
                                                <img class="navbar-brand-logo" src="{{ asset('uploads/produits/') }}{{ produit.image }}">
                                            {% endif %}
                                        </td> -->
                                        <td style="    vertical-align: middle;">
                                            {{ produit.nom}}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {{ produit.categorie.nom}}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {{ produit.sous_categorie.nom}}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-5">{{ produit.station.nom }} </h5>
                                                <small>{{ produit.station.adresse}} </small>
                                            </div>
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {{ produit.prix}}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {{ produit.quantite}}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {% if produit.is_active == true %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>

                                            {% else %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>

                                            {% endif %}
                                        </td>
                                        <td style="    vertical-align: middle;">
                                            {% if produit.disponible == true %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>
                                            {% else %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>

                                            {% endif %}
                                        </td>
                                        <td class="text-right" style="padding-right:20px;    vertical-align: middle;">
                                            <a href="{{ path('produit_disable',{'id':produit.id}) }}" class="btn btn-pure btn-default  md-delete waves-effect waves-classic"></a>
                                            <a href="{{ path('produit_edit', {'id': produit.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(produits) }}
                            </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>


    </div>
{% endblock %}