{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Liste Des Clients</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ clients|length }}</h4>
                            <small style=""> Clients </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr>
                                    <th style="border: none;">Filtre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('client_index') }}" method="get">
                                            <div class="col-lg-6  col-md-6 col-xs-6">
                                                <label class="control-label">Email ou Télephone</label>
                                                <input type="text" class="form-control" name="email" value="{% if email is defined %}{{email}}{% endif %}" placeholder="email ou téléphone">
                                            </div>

                                            <div  class="col-lg-6  col-md-6 col-xs-6 text-right">
                                                <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon icon md-search" aria-hidden="true"></i></button>

                                                <a href="{{ path('ExportClient') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                    <i class="icon md-download" aria-hidden="true"></i> exporter</a>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 30px;width: 20%">Email</th>
                                    <th style="width: 25%">Nom & Prénom</th>
                                    <th style="width: 20%">Téléphone</th>
                                    <th style="width: 25%">Station</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for client in clients %}


                                    <tr >
                                        <td style="padding-left: 20px; ">
                                            {{ client.email }}
                                        </td>
                                        <td >
                                            {{ client.firstName }}  {{ client.lastName }}
                                        </td>
                                        <td>
                                            {{ client.tel }}
                                        </td>
                                        <td>
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-5">{{ client.station.nom }} </h5>
                                                <small>{{ client.station.adresse}} </small>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(clients) }}
                            </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
