{% extends '@Backend/layout/layout.html.twig' %}

{% block page %}
    <div class="page">



        <div class="page-header">
            <h1 class="page-title">Gestion Des Sous Catégories</h1>

            <div class="page-header-actions">
                <div class="row">
                    <div class="col-lg-6 ">
                        <div class="media-body text-center">
                            <h4 class="mt-0 mb-5" style="color:#46bf8c;margin-bottom: 0px!important;"> {{ souscategories|length }}</h4>
                            <small style=""> Sous Catégories </small>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <a href="{{ path('sous_categorie_new') }}" style="margin-top: 3px;" class="float-right btn btn-sm btn-icon social-evernote waves-effect waves-classic">
                            <i class="icon md-plus" aria-hidden="true"></i> Ajouter
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 0 !important;padding-bottom: 0 !important;">
            <!-- Panel -->
            <div class="panel" >
                <div class="panel-body container-fluid" style="padding: 0 !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->
                            <table class="table table-bordered" style="border: none;">
                                <thead>
                                <tr>
                                    <th style="border: none;">Filtre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="border: none;">
                                        <form  class="row" style="align-items: center;max-width: 1520px;" action="{{ path('sous_categorie_index') }}" method="get">
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Sous Catégorie</label>
                                                <input type="text" class="form-control" name="search" value="{% if search is defined %}{{search}}{% endif %}" placeholder="nom sous categorie">

                                            </div>
                                            <div class="col-lg-4  col-md-4 col-xs-4">
                                                <label class="control-label">Catégorie</label>
                                                <select class="form-control" name="categorie_id" placeholder="choisir une catégorie">
                                                    <option value="" disabled selected hidden>choisir une catégorie</option>
                                                    {% if categorie_id == '' %}
                                                        <option class="dropdown-item" value="" role="menuitem" selected>
                                                            Toutes les categories
                                                        </option>
                                                    {% else %}
                                                        <option class="dropdown-item" value="" role="menuitem" >
                                                            Toutes les categories
                                                        </option>
                                                    {% endif %}

                                                    {% for categorie in categories %}
                                                        {% if categorie_id is defined   %}
                                                            {% if categorie_id == categorie.id %}
                                                                <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem" selected>
                                                                    {{ categorie.nom }}
                                                                </option>
                                                            {% else %}
                                                                <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem">
                                                                    {{ categorie.nom }}
                                                                </option>
                                                            {% endif %}
                                                        {% else %}
                                                            <option class="dropdown-item" value="{{ categorie.id }}" role="menuitem">
                                                                {{ categorie.nom }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div  class="col-lg-4  col-md-4 col-xs-4 text-right">
                                                <button type="submit" class="float-right btn btn-icon social-evernote waves-effect waves-classic">
                                                    <i class="icon icon md-search" aria-hidden="true"></i></button>

                                                <a href="{{ path('ExportSousCategorie') }}"  style="margin-right: 10px;" class="float-right btn  btn-icon  btn-dark waves-effect waves-classic waves-effect waves-classic">
                                                    <i class="icon md-download" aria-hidden="true"></i> exporter</a>
                                            </div>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

        <div class="page-content" style="padding-top: 0px " >
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid"  style="padding-left: 9px !important;padding-right: 9px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
                    <div class="row row-lg">


                        <div class="col-lg-12">
                            <!-- Example Bordered Table -->

                            <table class="table table-striped">
                                <thead>
                                <tr class="">
                                    <th style="padding-left: 20px;width: 20%">Nom</th>
                                    <th style="width: 20%">Catégorie</th>
                                    <th style="width: 20%">Statut</th>
                                    <th style="width: 20%">Image</th>

                                    <th class="text-right text-nowrap" style="padding-right:42px;width: 20%">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for souscategorie in souscategories %}


                                    <tr >
                                        <td  style="padding-left: 20px; ">
                                            {{ souscategorie.nom }}
                                        </td>
                                        <td >
                                            {{ souscategorie.categorie.nom }}
                                        </td>
                                        <td>
                                            {% if souscategorie.isActive == false %}
                                                <i class="md-close text-danger" style="font-size: 25px;"></i>
                                            {% else %}
                                                <i class="md-check text-success" style="font-size: 25px;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if souscategorie.image %}
                                                <img class="navbar-brand-logo" style="height: 44px;" src="{{ asset('uploads/produits/') }}{{ souscategorie.image }}">
                                            {% endif %}
                                        <td class="text-right" style="padding-right:20px;">
                                            <a href="{{ path('sous_categorie_disable',{'id':souscategorie.id}) }}" class="btn btn-pure btn-default  md-delete waves-effect waves-classic"></a>
                                            <a href="{{ path('sous_categorie_edit',{'id':souscategorie.id}) }}" class="btn btn-pure btn-default icon md-edit waves-effect waves-classic"></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(souscategories) }}
                            </div>

                            <!-- End Example Bordered Table -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>

    </div>
{% endblock %}
