{% xlsdocument %}
    {% xlssheet 'Worksheet' {
        columnDimension: {
            'default': {
                autoSize: true
            }
        }
    } %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '14' } }, margin: { left: '140' } } %}Reference{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Nombre Produit{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Status{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Date Reservation{% endxlscell %}



        {% endxlsrow %}
        {% for Modele in Modeles %}
            {% xlsrow %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.0.commande.reference  }} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.nbproduit }} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}
                    {% if  Modele.0.commande.status == -1 %}
                       Non Validée
                    {% endif %}
                    {% if  Modele.0.commande.status == 0 %}
                        En cours de validation
                    {% endif %}
                    {% if  Modele.0.commande.status == 1 %}
                        En cours de livraison
                    {% endif %}
                    {% if  Modele.0.commande.status == 2 %}
                        Valider
                    {% endif %}
                    {% if  Modele.0.commande.status == 3 %}
                       Modifier
                    {% endif %}
                    {% if  Modele.0.commande.status == 4 %}
                        Annuler
                    {% endif %}

                {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ Modele.0.commande.dateReservation|date("d/m/Y") }} {% endxlscell %}


            {% endxlsrow %}
        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}