{% xlsdocument %}
    {% xlssheet 'Worksheet' {
        columnDimension: {
            'default': {
                autoSize: true
            }
        }
    } %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '14' } }, margin: { left: '140' } } %}Reference{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Status{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Date Reservation{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Date Validation{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Client{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Produit{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %} Quantité{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Prix Unitaire{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Prix Total{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}Prix Final{% endxlscell %}

        {% endxlsrow %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '10' } } } %}{{commande.reference}}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}
                {% if  commande.status == -1 %}
                    Non Validée
                {% endif %}
                {% if  commande.status == 0 %}
                    En cours de validation
                {% endif %}
                {% if  commande.status == 1 %}
                    En cours de livraison
                {% endif %}
                {% if  commande.status == 2 %}
                    Valider
                {% endif %}
                {% if  commande.status == 3 %}
                    Modifier
                {% endif %}
                {% if  commande.status == 4 %}
                    Annuler
                {% endif %}
            {% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{{commande.dateReservation|date("d/m/Y") }}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %} {{commande.dateValidation|date("d/m/Y") }}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{{commande.utilisateur.firstName }} {{ commande.utilisateur.lastName}}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}

        {% endxlsrow %}

        <!--
        {% set pt = 0 %}
        {% for produit in produits %}
            {% xlsrow %}
            {% set pt = pt + produit.produit.prix * produit.quantite %}
                {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %} {% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ produit.produit.nom }}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %} {{ produit.quantite }}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ produit.produit.prix }}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{{ produit.produit.prix * produit.quantite  }}{% endxlscell %}
                {% xlscell { style: { font: { size: '10' } } } %}{% endxlscell %}

            {% endxlsrow %}
        {% endfor %}
        {% xlsrow %}
            {% xlscell { style: { font: { size: '14' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %} {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}{% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %} {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %} {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %} {% endxlscell %}
            {% xlscell { style: { font: { size: '14' } } } %}{{pt}} {% endxlscell %}

        {% endxlsrow %}
        -->
    {% endxlssheet %}
{% endxlsdocument %}