
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="apple-touch-icon" href="{{ asset('bundles/frontend/loginadmin/images/apple-touch-icon.png') }}">
    <link rel="shortcut icon" href="{{ asset('bundles/frontend/loginadmin/images/favicon.ico') }}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/js/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/bootstrap-extend.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/site.min.css') }}">

    <!-- Skin tools (demo site only) -->
    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/animsition.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/asScrollable.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/switchery.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/introjs.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/slidePanel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/jquery-mmenu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/flag-icon.min.css') }}">

    <!-- Page -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/login-v2.min.css') }}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/web-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/frontend/loginadmin/css/brand-icons.min.css') }}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/easyadmin/javascript/html5shiv.min.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="../../global/vendor/media-match/media.match.min.js"></script>
    <script src="{{ asset('bundles/easyadmin/javascript/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('bundles/frontend/loginadmin/js/modernizr.min.js') }}"></script>
    <script src="{{ asset('bundles/frontend/loginadmin/js/breakpoints.min.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="page-login-v2 layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<!-- Page -->
<div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
        <div class="page-brand-info">
            <div class="brand">
            </div>
            <p class="font-size-20"> </p>
        </div>

        <div class="page-login-main">
            <div class="brand visible-xs">

            </div>
            <img class="brand-img" src="{{ asset('bundles/frontend/loginadmin/images/bg_total_logo.jpg') }}" alt="...">

            <h3 class="font-size-24">Authentification</h3>
            <p></p>
            {% if error %}
                <div>Email ou mot de passe incorrect</div>
            {% endif %}
            <form method="post" action="{{ path("admin_login_check") }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email" required="required"  class="form-control" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required="required" />

                </div>
                <div class="form-group clearfix">
                    <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                </div>
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </form>

            <p>Se connecter<a href="register-v2.html"></a></p>

            <footer class="page-copyright">
                <p>POWERED BY APP4MOB</p>
            </footer>
        </div>

    </div>
</div>
<!-- End Page -->


<!-- Core  -->
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/animsition.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery-asScroll.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery.mousewheel.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery.asScrollable.all.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery-asHoverScroll.min.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery.mmenu.min.all.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/switchery.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/intro.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/screenfull.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery-slidePanel.min.js') }}"></script>

<!-- Plugins For This Page -->
<script src="{{ asset('bundles/frontend/loginadmin/js/jquery.placeholder.min.js') }}"></script>

<!-- Scripts -->
<script src="{{ asset('bundles/frontend/loginadmin/js/core.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/site.min.js') }}"></script>

<script src="{{ asset('bundles/frontend/loginadmin/js/menu.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/menubar.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/gridmenu.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/sidebar.min.js') }}"></script>

<script src="{{ asset('bundles/frontend/loginadmin/js/config-colors.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/config-tour.min.js') }}"></script>

<script src="{{ asset('bundles/frontend/loginadmin/js/asscrollable.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/bas/animsition.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/slidepanel.min.js') }}"></script>
<script src="{{ asset('bundles/frontend/loginadmin/js/bas/switchery.min.js') }}"></script>

<script src="{{ asset('bundles/frontend/loginadmin/js/jquery-placeholder.min.js') }}"></script>


<script>
    (function(document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function() {
            Site.run();
        });
    })(document, window, jQuery);
</script>


<!-- Google Analytics -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js',
        'ga');

    ga('create', 'UA-65522665-1', 'auto');
    ga('send', 'pageview');
</script>
</body>

</html>