{% extends 'FrontendBundle:Layouts:layoutBreadcrumps.html.twig' %}


    {% block breadcrump %}
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{ path("compte") }}">{{ app.user }}</a></li>
                    <li><a href="{{ path("facture") }}"> Mes Commandes</a></li>
                    <li class="active"> Détails commande#{{ facture.reference}}</li>
                </ul>
            </div>
        </div>
    {% endblock breadcrump %}
    {% block content %}


        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Statut commande </span></h1>

                <div class="row userInfo">
                    <div class="col-lg-12">
                        <h2 class="block-title-2"> Votre statut commande </h2>
                    </div>


                    <div class="statusContent">


                        <div class="col-sm-12">
                            <div class=" statusTop">
                                <p><strong>Statut:</strong> {{ facture.statusToString}}</p>

                                <p><strong>Date livraison:</strong> {{ facture.createdAt|format_date }}</p>

                                <p><strong>Ref commande:</strong> #{{ facture.reference}} </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="order-box">
                                <div class="order-box-header">

                                    Adresse de livraison
                                </div>


                                <div class="order-box-content">
                                    <div class="address">
                                        <p><strong>{{ facture.commande.livraison.nom ~ facture.commande.livraison.prenom}} </strong></p>

                                        <p><strong>{{ facture.commande.livraison.telephone }}</strong></p>

                                        <div class="adr">
                                            {{ facture.commande.livraison.adresse }}<br>{{ facture.commande.livraison.ville ~ " " ~ facture.commande.livraison.cp }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-sm-6">
                            <div class="order-box">
                                <div class="order-box-header">

                                    Adresse de facturation
                                </div>


                                <div class="order-box-content">


                                    <div class="address">
                                        <p><strong>{{ facture.commande.facturation.nom ~ facture.commande.facturation.prenom}} </strong></p>

                                        <p><strong>{{ facture.commande.facturation.telephone }}</strong></p>

                                        <div class="adr">
                                            {{ facture.commande.facturation.adresse }}<br>{{ facture.commande.facturation.ville ~ " " ~ facture.commande.facturation.cp }}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div style="clear: both"></div>



                        <div class="col-sm-12 clearfix">
                            <div class="order-box">
                                <div class="order-box-header">

                                    Les Articles
                                </div>


                                <div class="order-box-content">
                                    <div class="table-responsive">
                                        <table class="order-details-cart">
                                            <tbody>

                                            {% for produit in facture.commande.produit %}

                                                <tr class="cartProduct">
                                                    <td class="cartProductThumb" style="width:20%">
                                                        <div><a href="{{ path('show_produit',{"id":produit.id}) }}"> <img alt="img" class="lazy"
                                                                                                  src="/assets/img/default.jpeg"  data-original="{{ produit.image }}">
                                                            </a></div>
                                                    </td>
                                                    <td style="width:40%">
                                                        <div class="miniCartDescription">
                                                            <h4><a href="{{ path('show_produit',{"id":produit.id}) }}"> {{ produit.reference }} </a>
                                                            </h4>
                                                            <span class="size"> {{ produit.unite }} </span>

                                                            <div class="price"><span> {{ produit.prixHT|number_format(3, '.', ',')}}  DT</span></div>
                                                        </div>
                                                    </td>
                                                    <td class="" style="width:10%"><a> {{ produit.quantite}}  </a></td>
                                                    <td class="" style="width:15%"><span> {{ (produit.quantite * produit.prixHT)|number_format(3, '.', ',')}}  DT</span></td>

                                                </tr>
                                            {% endfor %}

                                            <tr class="cartTotalTr blank">
                                                <td class="" style="width:20%">
                                                    <div></div>
                                                </td>
                                                <td style="width:40%"></td>
                                                <td class="" style="width:20%"></td>
                                                <td class="" style="width:15%"><span>  </span></td>

                                            </tr>


                                            <tr class="cartTotalTr">
                                                <td class="" style="width:20%">
                                                    <div></div>
                                                </td>
                                                <td style="width:40%"></td>
                                                <td class="" style="width:20%">Total</td>
                                                <td class="" style="width:15%"><span class="price"> {{ facture.commande.prixHT|number_format(3, '.', ',') }} DT </span></td>

                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>


                    <div class="col-lg-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="{{ path("list_produit") }}"> <i class="fa fa-home"></i> Continuer vos achats </a>
                            </li>
                            <li class="next pull-left"><a href="{{ path("facture") }}"> &larr; Mes commandes</a></li>
                        </ul>
                    </div>
                </div>
                <!--/row end-->

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5"></div>
        </div>
        <!--/row-->
    {% endblock %}
